apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: otp-whatsapp-pvc
  namespace: fuel-friend
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 100Mi
